@import "tailwindcss";

@theme {
    --font-montserrat: var(--font-montserrat), sans-serif;
    --font-tan-pearl: var(--font-tan-pearl), serif;
    --color-lavender: #C2B3D2;
    --color-brand-purple: #9186CA;
    --color-lavender-light: #f0effa;
}

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 255, 255, 255;
}

body {
    color: rgb(var(--foreground-rgb));
    background: white;
    font-family: var(--font-montserrat);
}

@layer base {
    img {
        @apply max-w-full h-auto;
    }
}